@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
  @apply w-64 bg-red-400 shadow flex-col justify-between;
}

.sidebar-route {
  @apply rounded-md flex w-full justify-between cursor-pointer items-center m-3 p-3;
}

.input {
  @apply p-2 border border-indigo-200 focus:outline-none focus:border-indigo-800 rounded-md shadow-sm;
}

.imageLogin {
  width: full;
  height: 650px;
  background-image: url(/src/media/fondo12.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
