.tabla {
  width: 100%;
  margin: 10px;
  overflow-y: scroll;
}

.tabla td,
.tabla th {
  padding: 8px;
  border: 2px solid rgba(0, 0, 0, 0.452);
}

.tabla th {
  background-color: #ac0a0a;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}

.tabla tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tabla tr:hover{
    background-color:rgb(54, 50, 50);
    cursor: pointer;
    font-weight: 600;
    color:rgb(221, 250, 243)
}
